.chat-side
  = render "devise/shared/side_bar"


.chat-main
  .chat-main__header
    .chat-main__header__left-box
      %h2.chat-main__header__left-box__current-group
        = @group.name
      %ul.chat-main__header__left-box__member-list
        Member :
        - @group.users.each do |user|
          %li.chat-main__header__left-box__member-list__member
            = user.name

    = link_to "Edit", edit_group_path(@group), class: "chat-main__header__edit-btn"


  .chat-main__messages
    - @messages.each do |message|
      .chat-main__messages__message
        .chat-main__messages__message__upper-info
          .chat-main__messages__message__upper-info__talker
            = message.user.name
          .chat-main__messages__message__upper-info__date
            = message.created_at.strftime("%Y/%m/%d %H:%M")
          .chat-main__messages__message__text
            = message.body if message.body.present?
            / = image_tag message.image.url if message.image?


  .chat-main__form
    .chat-main__form__new-message
      = form_for [@group, @message] do |f|
        .chat-main__form__new-message__input-box
          = f.text_field :body, class: "chat-main__form__new-message__input-box__text", placeholder: "  type a message"
          = f.label :image, class: "chat-main__form__new-message__input-box__image fa fa-image fa-lg" do
            = f.file_field :image, class: "chat-main__form__new-message__input-box__image__file"
        = f.submit "Send", class: "chat-main__form__new-message__submit-btn"
