.account-page
  .account-page__inner
    .account-page__inner__left
      %h2 Create Account
      %h5 新規アカウントの作成
      = render "devise/shared/links"
    .account-page__inner__right
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .account-page__inner__right__field
          .account-page__inner__right__field__label
            = f.label :name
          .account-page__inner__right__field__input
            = f.text_field :name, autofocus: true
        .account-page__inner__right__field
          .account-page__inner__right__field__label
            = f.label :email
          .account-page__inner__right__field__input
            = f.email_field :email
        .account-page__inner__right__field
          .account-page__inner__right__field__label
            = f.label :password
            %i.account-page__inner__right__field__label__text (英数字8文字以上)
          .account-page__inner__right__field__input
            = f.password_field :password, autocomplete: "off"
        .account-page__inner__right__field
          .account-page__inner__right__field__label
            = f.label :password_confirmation
          .account-page__inner__right__field__input
            = f.password_field :password_confirmation, autocomplete: "off"
        .account-page__inner__right__actions
          = f.submit "Create Account", class: 'account-page__inner__right__actions__btn'
