.account-page
  .account-page__inner
    .account-page__inner__left
      %h2 Log in
      %h5 登録しているユーザーでログイン
      = render "devise/shared/links"
    .account-page__inner__right
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .account-page__inner__right__field
          .account-page__inner__right__field__label
            = f.label :email
          .account-page__inner__right__field__input
            = f.email_field :email, autofocus: true
        .account-page__inner__right__field
          .account-page__inner__right__field__label
            = f.label :password
            %i.account-page__inner__right__field__label__text (英数字8文字以上)
          .account-page__inner__right__field__input
            = f.password_field :password, autocomplete: "off"
        .account-page__inner__right__actions
          = f.submit "Log in", class: 'account-page__inner__right__actions__btn'